</section>
<footer>
    <div>
        <ul>
            <li class="link">Link 1</li>
            <li class="link">Link 2</li>
            <li class="link">Link 3</li>
        </ul>
        <ul>
            <li class="link">Site 1</li>
            <li class="link">Site 2</li>
            <li class="link">Site 3</li>
        </ul>
        <ul>
            <li class="link">Project 1</li>
            <li class="link">Project 2</li>
            <li class="link">Project 3</li>
        </ul>
    </div>
    <div class="tcenter">Vikas</div>
    <div class="tcenter">Copyright</div>
    
</footer>
</body>
</html>