<%- include('resources/header.ejs') -%>
<div>
    <div class="section">CONTACT US</div>
    <div class="content">You can contact us on demoproject@example.com or you can also fill the feedback form for contacting us. We are very pleased if you give us feedback or trying to contact us by any mean. We trying to get you as soon as possible.</div>
</div>
<%- include('resources/footer.ejs') -%>