<%- include('resources/header.ejs') -%>
<div>
    <div class="section">HOME</div>
    <div>
        <div class="subsection">Personal life</div>
        <hr>
        <div class="content">
            Hi, I am vikas. I am a full stack webdeveloper.
        </div>
        <div class="subsection">Professional life</div>
        <hr>
        <div class="content">
            I can code with PHP, Nodejs, HTML, CSS, JavaScript. I know many frame work like laravel and reactJS i am also learning to master web development
        </div>
        <div class="subsection">About Career</div>
        <hr>
        <div class="content">
            Today world is not imagine without computer and technology, We are surrounded by technology and machines and everyday we using many application on smartphone laptop computer and in IOT devices. So i also want to learn and contribute to this field.
        </div>
        <div class="subsection">My remark</div>
        <hr>
        <div class="content">
            This is just a simple and demo portfolio site which is not focused on the content but more on the coding related stuff.
             
        </div>     
    </div>
    
</div>
<%- include('resources/footer.ejs') -%>