<%- include('resources/header.ejs') -%>
<div>
    <div class="section">TIMELINE</div>
    <hr>
        <ul>
            <li class="subsection">Timeline 1</li>
            <li class="subsection">Timeline 2</li>
            <li class="subsection">Timeline 3</li>
            <li class="subsection">Timeline 4</li>
            <li class="subsection">Timeline 5</li>
            <li class="subsection">Timeline 6</li>
            <li class="subsection">Timeline 7</li>
            <li class="subsection">Timeline 8</li>
            <li class="subsection">Timeline 9</li>
            <li class="subsection">Timeline 10</li>
            <li class="subsection">Timeline 11</li>

        </ul>
    <hr>
</div>
<%- include('resources/footer.ejs') -%>