*{
    margin:0;
    padding:0;
}
.header{
    display: flex;
    border:solid silver 5px;
}
header{
    display:block;
    background-color: black;
}

.menu{
    display:flex;
    background-color:black;
    align-items: center;
    border:solid silver 1px;
    border-radius: 10%;
    margin:1vw;
    padding:0.5vw;
    
}
.menu>a{
    color:white;
    font-size: 1.5rem;
}
